<div class="login-box">
  <h2>Register</h2>
  <form action="/vagancy/add" method="POST">
    <div class="container-box">
        <div class="user-box">
          <input id="inputCar" type="text" name="name" required="name">
          <label>Carro</label>
        </div>
          <div class="user-box">
          <input id="inputBloco" type="text" name="bloco" required="bloco">
          <label>Bloco</label>
        </div>
        <div class="user-box">
          <input id="inputCor"  type="text" name="cor" required="cor">
          <label>Cor</label>
        </div>
           <div class="submsit">
                     <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <input id="button" type="submit" value="SUBMIT" ></input>
    </a>
           </div>
    </div>
 
  </form>
</div>